.git
.gitignore
.gradle
.idea
*.iml
build/
out/
*.log
.DS_Store
.env
node_modules/
target/
*.class
*.jar
*.war
.vscode/
.settings/
*.swp
*.swo
*~
.classpath
.project
.c9/
*.pid
*.seed
*.pid.lock
.npm
.eslintcache
dist/
.cache/
.parcel-cache
.next
out/
.nuxt
.cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
coverage/
.nyc_output/
*.tsbuildinfo
.turbo/
